<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p><%= doctors.email %></p>
    <p><%= doctors.clinicAddress %></p>
    <p><%= doctors.contact %></p>
    <p><%= doctors.specialisation %></p>
    <form action="/doctors/<%=doctors._id%>/appointment" method="POST">
      <button>Book</button>
    </form>
  </body>
</html>
